<div class="container1">
    <div class="card">
      <div class="tabs">
        <button 
        id="login-tab"
          class="tab-button" 
          [class.active]="isLogin" 
          (click)="isLogin = true">
          Login
        </button>
        <button 
        id="register-tab"
          class="tab-button" 
          [class.active]="!isLogin" 
          (click)="isLogin = false">
          Register
        </button>
      </div>
  
      <form *ngIf="isLogin; else registerForm" (ngSubmit)="login()">
        <input type="email" placeholder="Email" id="email" [(ngModel)]="loginData.email" name="email" required>
        <input type="password" placeholder="Password" id="password" [(ngModel)]="loginData.password" name="password" required>
        <button type="submit" class="action-button" id="login-button">Login</button>
      </form>
  
      <ng-template #registerForm>
        <form (ngSubmit)="register()">
          <input type="text" placeholder="Full Name" id="name" [(ngModel)]="registerData.name" name="name" required>
          <input type="email" placeholder="Email" id="email" [(ngModel)]="registerData.email" name="email" required>
          <input type="password" placeholder="Password" id="password" [(ngModel)]="registerData.password" name="password" required>
          <button type="submit" class="action-button" id="register-button" [disabled]="!registerData.name || !registerData.password || !registerData.email">Register</button>
        </form>
      </ng-template>
  
      <p class="message" *ngIf="message">{{ message }}</p>
    </div>
  </div>
  
