.container {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    height: 300px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .btn-danger {
    width: 100%;
  }
  